---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import ProblemSection from '../components/ProblemSection.astro';
import SolutionSteps from '../components/SolutionSteps.astro';
import ServicesSection from '../components/ServicesSection.astro';
import AboutSection from '../components/AboutSection.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import ServiceArea from '../components/ServiceArea.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <TrustBar />
    <ProblemSection />
    <SolutionSteps />
    <ServicesSection />
    <AboutSection />
    <Testimonials />
    <FAQ />
    <ServiceArea />
    <ContactSection />
  </main>
  <Footer />
</Layout>
